{% extends "base.html" %}
{% block content %}
<div class="container map">
    <section>
        <a class="btn btn-dark mt-1" href="{{ url_for('menu.getstart') }}">Back</a>
        <a class="btn btn-danger mt-1" href="{{ url_for('menu.map') }}">Map</a>
        <ul class="list-group">
            {% for key, value in results.iterrows() %}
            <li class="list-group-item d-flex justify-content-between align-items-center mt-1">
                {{ key }}
                <span class="badge badge-primary badge-pill">{{ value.values[0] }} </span>
            </li>
            {% endfor %}
        </ul>
        
    </section>
</div>
{% endblock %}